In [227]:
import pandas as pd
import os

In [228]:
import spotipy
# headers = {
#         'Authorization': 'Bearer ',
#     }
token = "BQD7EdJwhjE_twrnFVMypoYg0ZdgzqxHWdtsxpnTgOSzOjygJdCpq9479E3jdhTgMtCFsK99MVfDBlGZp-COCWWBl-7TFhtg8D3qTpWHyijs6lETM-g6eg8rOPZTnWKd9VSeyFTCISUlAeXx2Xq2RfunidZPd5pBJTdsDDRP4VPN0dZHVWN1ghoK5zwYxN5ihV1WriSHr27pwTOWvZER7SuoLQ8EOhVDPwpp_HDT6_XGYUsMSwjOevMWYY1siFtDXgIqkqhGRMfoTzlbkjYJTGO8JwU"
spotify = spotipy.Spotify(auth=token)
results = spotify.category_playlists(category_id='mood')

In [229]:
len(results['playlists']['items'])

20

In [230]:
for x in results['playlists']['items']:
    print(x['id'],x['name'])

37i9dQZF1DWSqmBTGDYngZ Songs to Sing in the Shower
37i9dQZF1DWU0ScTcjJBdj Relax & Unwind
37i9dQZF1DX7KNKjOK0o75 Have a Great Day!
37i9dQZF1DX7gIoKXt0gmx All The Feels
37i9dQZF1DX3rxVfibe1L0 Mood Booster
37i9dQZF1DWYBO1MoTDhZI Good Vibes
37i9dQZF1DX6ziVCJnEm59 Your Favorite Coffeehouse
37i9dQZF1DWWMOmoXKqHTD Songs to Sing in the Car
37i9dQZF1DWSkMjlBZAZ07 Happy Folk
37i9dQZF1DXdPec7aLTmlC Happy Hits!
37i9dQZF1DX4fpCWaHOned Confidence Boost
37i9dQZF1DX3YSRoSdA634 Life Sucks
37i9dQZF1DWXmlLSKkfdAk Acoustic Covers
37i9dQZF1DWSlw12ofHcMM Swagger
37i9dQZF1DWWqNV5cS50j6 Anti Pop
37i9dQZF1DX7K31D69s4M1 Piano in the Background
37i9dQZF1DXca8AyWK6Y7g Young & Free
37i9dQZF1DWSqBruwoIXkA Down In The Dumps
37i9dQZF1DWSiZVO2J6WeI Dreamy Vibes
37i9dQZF1DX9XIFQuFvzM4 Feelin' Good

In [231]:
#len(results['playlists']['items'])

In [232]:
def get_playlist_tracks(username,playlist_id):
    results = spotify.user_playlist_tracks(username,playlist_id)
    tracks = results['items']

    return tracks

In [235]:
id_ =[]
name=[]
for x in results['playlists']['items'][:10]:
    user = x['owner']['id']
    playlist = x['id']
   # print(user,playlist)
    for y in get_playlist_tracks(user,playlist):
        id_.append(y['track']['id'])
        name.append(y['track']['name'])

In [236]:
len(id_)

761

In [239]:
df = pd.DataFrame(columns=['id', 'song_name'])
df['id'] = id_
df['song_name'] = name
df.head()

                       id                                   song_name
0  1FHNctV68GUNLgXclG2DtR                    Dancing in the Moonlight
1  5nNmj1cLH3r4aA4XDJ2bgY                                   September
2  5XzmZjXhMjDHr7ZfJ6DELQ                             FourFiveSeconds
3  2tUBqZG2AbRi7Q0BIrVrEj  I Wanna Dance with Somebody (Who Loves Me)
4  4o6BgsqLIBViaGVbx5rbRk             You Make My Dreams - Remastered

In [19]:
spotify_dict = results['playlists']['items']

In [25]:
spotify_df = pd.DataFrame.from_dict(list(spotify))

In [27]:
spotify = spotify_df[['id','name']]
spotify.head()

                       id                         name
0  37i9dQZF1DWSqmBTGDYngZ  Songs to Sing in the Shower
1  37i9dQZF1DWU0ScTcjJBdj               Relax & Unwind
2  37i9dQZF1DX7KNKjOK0o75            Have a Great Day!
3  37i9dQZF1DX7gIoKXt0gmx                All The Feels
4  37i9dQZF1DX6ziVCJnEm59    Your Favorite Coffeehouse